@import './variables/fonts';

html, body {
  min-width: 320px;
  font-family: $font-family, sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  background: $color-white;
  color: $color-text-black;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  user-select: none;
}
