/* Arsenal SC */
@font-face {
  font-family: 'Arsenal SC';
  src: url('/fonts/ArsenalSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arsenal SC';
  src: url('/fonts/ArsenalSC-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Lekton */
@font-face {
  font-family: 'Lekton';
  src: url('/fonts/Lekton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lekton';
  src: url('/fonts/Lekton-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
