@import '../../styles/mixins/breakpoints.scss';
@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f2f7f8;
  color: #0d3b66;
  font-family: $font-family-secondary;
}

.main {
  flex: 1;
  padding: 30px;
}