@import '../../styles/mixins/breakpoints.scss';
@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.pageWrapper {
  position: relative;
  font-family: $font-family-secondary;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;  
}

.pageWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;            
  height: 100%;             
  background-image: url('/back.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%; 
  z-index: -1;              
}

.body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}