@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

body {
    background-color: $color-background;
}

.minicardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px; 
    overflow-x: auto; 
    overflow-y: hidden;
    padding: 20px;
    gap: 15px;
    padding: 15px;
    scrollbar-width: thin;  
    @supports(justify-content: safe center) {
        justify-content: safe center;
    }

    & > * {
        flex-shrink: 0;
    }

}

.container {
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: flex-start;
}

.mainContent {
    flex: 1;
}

.filtersWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    flex-shrink: 0;
    
    @media (max-width: 767px) {
        width: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        gap: 0;
    }
}

.filterButton {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background: none;
}

.textStart {
    text-align: center;
}

.title {
    color: $color-text-black;
    font-size: 30px;
    margin-bottom: 20px;
}

.openButton {
    border: none;
    background: none;
    font-size: $font-size-base;
    color: $color-text-green-dark;
    text-decoration: underline;
}

.openButton img {
    margin-right: 5px;
}


@include breakpoints(sm) {
    .filterButton {
        display: none;
    }
}

@include breakpoints(lg) {
    .title {
        font-size: 50px;
    }

    .textStart {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
}