$color-white: #e8eeed;
$color-light-green: #e5f2e1;
$color-mid-green: #758c77;
$color-dark-green: #5c6c58;

$color-button: #758c77;
$color-button-hover: #3b4e3d;
$color-button-tick: #b0c392;

$color-background: #c8e4d4;
$color-input-background: #dae6ef;

$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-green: #758c77;
$color-text-green-dark: #5d6c58;

$color-noise-opacity: 0.15;
