@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    &.open {
        transform: translateX(0);
    }
}

.filterGroup h3 {
    margin: 10px 0 10px 0;
    font-size: $font-size-title;
    font-weight: bold;
    color: $color-text-green-dark;
    font-family: $font-family-secondary;
}

.filterGroup {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    border-top: 3px solid $color-mid-green;
    backdrop-filter: blur(10px);
    margin-bottom: 3px;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    
    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.content {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: $font-size-base;
    font-family: $font-family-secondary;
    color: $color-text-black;
}

.options div {
    cursor: pointer;
    text-align: center;
    position: relative;

    &:last-child {
        padding-bottom: 10px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        width: 70%;
        height: 1px;
        background: $color-text-green-dark;
        margin: 0 auto; 
    }
    
    &:last-child::after {
        display: none;
    }
}

@include breakpoints(sm) {
    .sidebar {
        position: sticky;
        top: 20px;
        width: 250px;
        height: auto;
        transform: translateX(0);
        
        &.open {
            transform: translateX(0);
        }
    }
    
    .filterGroup {
        margin-bottom: 30px;
    }
    
    .overlay {
        display: none;
    }
}