@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/mixins/breakpoints.scss";

:global {
  body {
    background: inherit;
    background: url(/back.png);
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 300px;
}

.heroContent {
  max-width: 900px;
}

.heroImage img {
  border-radius: 20px;
}

.title {
  font-family: $font-family;
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  width: 500px;
  color: $color-text-black;
  margin-bottom: 15px;
}

.subtitle {
  font-family: $font-family-secondary;
  font-size: 22px;
  line-height: 1.5;
  color: $color-text-black;
  margin-bottom: 20px;
  max-width: 600px;
}

.features {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: $font-family-secondary;
  font-size: 22px;
  color: $color-text-black;
}

.cta {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 28px;
  border-radius: 55px;
  background-color: $color-button;
  color: $color-text-white;
  border: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 0.9;
  }
}

.advHeader {
  text-align: center;
  margin-bottom: 40px;
}

.advSmallTitle {
  font-family: $font-family;
  font-size: 20px;
  font-weight: lighter;
  color: $color-text-black;
  margin-bottom: 10px;
}

.advBigTitle {
  font-family: $font-family;
  font-size: 32px;
  font-weight: 400;
  color: $color-text-black;
}

.advantages {
  margin-top: 10px;
  text-align: center;
  color: $color-text-black;
}

.advantagesBlock {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advMainTitle {
  font-family: $font-family;
  font-size: 50px;
  color: $color-text-black;
  margin-bottom: 40px;
}

.advantagesBlock {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.foodImages {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.foodImage1 {
  position: absolute;
  left: 650;
  top: 150px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  z-index: 0;
}

.foodImage2 {
  position: absolute;
  right: 700;
  top: 800px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  z-index: 0;
}

.advCard {
  width: 900px;
  border-radius: 30px;
  padding: 50px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.advCard * {
  position: relative;
}

.advCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(5px);
  filter: url(#blur);
}

.sectionTitle {
  font-family: $font-family;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: $color-text-black;
  font-weight: lighter;
}

.sectionSubtitle {
  font-family: $font-family-secondary;
  font-size: 20px;
  margin-bottom: 30px;
  color: $color-text-black;
}

.featuresGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  font-family: $font-family-secondary;
  font-size: 20px;
  color: $color-text-black;
  margin-bottom: 70px;
}

.featureTitle {
  font-family: $font-family-secondary;
  margin-bottom: 2px;
  color: $color-text-black;
  text-decoration: underline;
}

.steps {
  font-family: $font-family-secondary;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: $color-text-black;
  margin-bottom: 70px;
}

.reviews {
  font-family: $font-family-secondary;
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $color-text-black;
}

.quote {
  font-weight: bold;
  font-style: italic;
}

.author {
  font-weight: normal;
  font-style: normal;
}

@include breakpoints(xs) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
    text-align: left;
  }

  .heroContent {
    order: 1;
    margin-left: -10px;
    max-width: 300px;
  }

  .title {
    width: 400px;
    font-size: 60px;
  }

  .heroImage {
    order: 2;
  }

  .heroImage img {
    max-height: 250px;
    max-width: 350px;
  }

  .cta {
    order: 3;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
  }

  .features {
    flex-direction: column;
    align-items: left;
    gap: 0px;
  }

  .advHeader {
    width: 300px;
  }

  .advCard {
    width: 350px;
  }
}

@include breakpoints(sm) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 0px 10px;
    text-align: left;
    margin-left: -130px;
  }

  .heroContent {
    max-width: 900px;
    margin-left: 150px;
  }

  .title {
    width: 600px;
    font-size: 80px;
  }

  .title,
  .subtitle {
    text-align: left;
  }

  .features {
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
  }

  .featureItem {
    font-size: 20px;
  }

  .cta {
    margin-top: 0px;
    margin-left: 0px;
  }

  .heroImage img {
    max-width: 350px;
    max-height: 250px;
  }

  .advHeader {
    width: 500px;
  }

  .advCard {
    width: 750px;
  }
}

@include breakpoints(xl) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 50px 100px;
    text-align: left;
  }

  .heroImage img {
    max-width: 600px;
    max-height: 400px;
  }

  .advCard {
    width: 900px;
  }
}
