@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";

.footer {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $color-dark;
  font-family: $font-family;

  @include breakpoints(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 32px;
  font-weight: bold;

  a {
    color: $color-text-white;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  @include breakpoints(md) {
    flex-direction: row;
    gap: 40px;
  }
}

.copy {
  font-size: 32px;
  font-weight: bold;
  opacity: 0.9;
}
