.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f7f8;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.title {
  font-family: 'Arsenal SC', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #0d3b66;
}

.image {
  border-radius: 50%;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
  color: #0d3b66;
  font-weight: 600;
  transition: 0.2s;

  &:hover {
    color: #0077b6;
  }
}