@import '../../styles/mixins/breakpoints.scss';
@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.footer {
  text-align: left;
  padding: 10px 70px;
  font-family: $font-family;
  color: $color-text-black;
  font-size: 22px;

  .top {
    margin-bottom: 5px;

    a {
      margin: 0 10px;
      color: inherit;
    }
  }

  .bottom {
    margin: 20px 10px;
    text-decoration: underline;
  }
}