@import '../../styles/mixins/breakpoints.scss';
@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.footer {
  text-align: left;
  padding: 10px 30px;
  font-family: $font-family;
  color: $color-text-black;
  font-size: 20px;

  .top {
    margin-bottom: 10px;

    a {
      margin: 0 15px;
      color: inherit;
    }
  }

  .bottom {
    margin: 50px 15px;
    font-weight: bold;
    text-decoration: underline;
  }
}