@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  padding-top: 100px; 
  padding-bottom: 40px;
  overflow-y: auto
}

.popup {
  background-color: $color-light-green;
  padding: 32px;
  border-radius: 30px;
  max-width: 70%;
  width: 70%;
  position: relative;
}

.content {
  color: #000000;
  font-family: $font-family-secondary; 
  font-size: 24px;
  padding: 20px 50px 0px 50px;
}

.closeButton {
  position: absolute;
  top: 17px;
  right: 22px;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #666666;
}

.sectionHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  gap: 8px; 
}

.arrowIcon {
    transition: transform 0.3s ease; 
    transform: rotate(0deg); 
}

.isRotated {
    transform: rotate(-90deg);
}